body {
  font-family: 'Waiting for the Sunrise', cursive;
  
  line-height: 1.4;
  background-color: #BFCFF7;
  
}

.container {
  padding: 0 1rem;
}

.logo {
  font-family: 'Pacifico', cursive;
  text-align: right;
  margin-bottom: 0em;
  margin-top: .2em;
}

.header-title {
  margin-top: 0;
 font-size: 43px;
 text-align: center;
}

.todoDiv {
 background-color: '#eeeeee';
}


.todos {
  font-family: 'Raleway', sans-serif;
  background-color: '#eeeeee';
}

.checkbox {
  float: left;
  /* margin-left: 30em; */
  /* margin-right: 0; */
}


.addTodoInput {
  display: flex;
  flex-grow: 10;
  padding: 5px;

}

input {
  text-align: center;

}

/* [ ] Fix the box-shadow on focus */
.addTodoInput:focus {
  box-shadow: 2 2 4px #A5AAD9 !important;
  /* border: 10px solid #282c34 !important; */
}

.btnStyle {
  background: #F9A799;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  border: none;
  padding: 5px 3px;
}

.btnStyle:hover {
  background: #A5AAD9;
}

.btn {
  /* display: inline-block; */
  border: none;
  background: #F9A799;
  padding: 7px 20px;
  cursor: pointer;
}


.btn:hover {
  background: #A5AAD9;
}


/* [ ] Consider Removing */

/* .App {
  text-align: center;
} */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
